<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/owners"><%= title %></a>
    <% if (user) { %>
      <a href="/owners/logout">ログアウト</a>
    <% } %>
  </nav>
</header>
