<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/stickyfooter.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <%- include('header', {title: title}) %>

    <div class="container-fluid pt-5 pb-5">

      <div class="row">
        <div class="col-12">
          <h2>ログイン</h1>
          <hr>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-lg-4">
            <form method="post" action="/owners/login">
              <div class="form-group">
                <label for="email" class="sr-only">メールアドレス</label>
                <input type="email" name="email" id="email" placeholder="メールアドレス" required="" autofocus="" class="form-control">
              </div>
              <div class="form-group">
                <label for="password" class="sr-only">パスワード</label>
                <input type="password" name="password" id="password" placeholder="パスワード" required="" class="form-control">
              </div>
              <input type="submit" value="ログイン" class="btn btn-primary btn-block">
            </form>
        </div>
      </div>

    </div>

    <%- include('footer') %>

  </body>

</html>
